extends layouts/main
include mixin/videoBlock

block content
    .user-profile
        .user-profile__header
            img.u-avatar(src=user.avatarUrl)
            h4.profile__username=user.name
        if user.id === loggedUser.id
            .user-Profile__btns
                a(href=`/users${routes.editProfile}`)
                    button 🖌Edit Profile
                a(href=`/users${routes.changePassword}`)
                    button 🔒Change Password
        .home-videos
            each video in user.videos
                +videoBlock({
                    id:video.id,
                    title:video.title,
                    description: video.descirption,
                    views:video.views,
                    videoFile:video.fileUrl
                })